<!DOCTYPE HTML>
<html lang=en-JP>
    <head>
        <meta charset="utf-8">
        <title>page2</title>
        <meta name="discription" content="ページの概要をここに記入（SEO対策）">
        <meta name="viewport" content="width=device-width"><!-- レスポンシブスマホ対応-->
        <style>/*CSS挿入*/
        *{margin:30;padding:0;}/*デフォルトでついている間隔を０にしてデザインしやすく*/
        </style>
    </head>
    <body>
        <h2>うまく見つけられませんでした、<br>検索ワードを変えてもう一度試してみてください(> <)</h2>
        <a href='/'><button>はじめに戻る</button></a>
        
    </body>
</html>